body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.55rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.9375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.82rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.24rem;
    font-size: calc( 1.1925rem + (1.55 - 1.1925) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.1925rem + (1.55 - 1.1925) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #353535 !important;
}
.bg-warning {
  background-color: #ffe623 !important;
}
.bg-danger {
  background-color: #4479d9 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #353535 !important;
  border-color: #353535 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe623 !important;
  border-color: #ffe623 !important;
  color: #231f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #cbb400 !important;
  border-color: #cbb400 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #231f00 !important;
  background-color: #cbb400 !important;
  border-color: #cbb400 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #353535;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0a0a0a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #353535 !important;
  border-color: #353535 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe623;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #cbb400 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #231f00 !important;
  background-color: #ffe623 !important;
  border-color: #ffe623 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #353535 !important;
}
.text-warning {
  color: #ffe623 !important;
}
.text-danger {
  color: #4479d9 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #020202 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #bca700 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #1f4a98 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #353535;
}
.alert-warning {
  background-color: #ffe623;
}
.alert-danger {
  background-color: #4479d9;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a8a8a8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffdef;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #eef2fb;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-tJkiqjPUPv {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tJkiqjPUPv nav.navbar {
  position: fixed;
}
.cid-tJkiqjPUPv .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tJkiqjPUPv .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tJkiqjPUPv .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tJkiqjPUPv .dropdown-item:hover,
.cid-tJkiqjPUPv .dropdown-item:focus {
  background: #ffffff !important;
  color: white !important;
}
.cid-tJkiqjPUPv .dropdown-item:hover span {
  color: white;
}
.cid-tJkiqjPUPv .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tJkiqjPUPv .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tJkiqjPUPv .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tJkiqjPUPv .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tJkiqjPUPv .nav-link {
  position: relative;
}
.cid-tJkiqjPUPv .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tJkiqjPUPv .container {
    flex-wrap: wrap;
  }
}
.cid-tJkiqjPUPv .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tJkiqjPUPv .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tJkiqjPUPv .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tJkiqjPUPv .dropdown-menu,
.cid-tJkiqjPUPv .navbar.opened {
  background: #254a45 !important;
}
.cid-tJkiqjPUPv .nav-item:focus,
.cid-tJkiqjPUPv .nav-link:focus {
  outline: none;
}
.cid-tJkiqjPUPv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tJkiqjPUPv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tJkiqjPUPv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tJkiqjPUPv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tJkiqjPUPv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tJkiqjPUPv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tJkiqjPUPv .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #254a45;
}
.cid-tJkiqjPUPv .navbar.opened {
  transition: all 0.3s;
}
.cid-tJkiqjPUPv .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tJkiqjPUPv .navbar .navbar-logo img {
  width: auto;
}
.cid-tJkiqjPUPv .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tJkiqjPUPv .navbar.collapsed {
  justify-content: center;
}
.cid-tJkiqjPUPv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tJkiqjPUPv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tJkiqjPUPv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tJkiqjPUPv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tJkiqjPUPv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tJkiqjPUPv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tJkiqjPUPv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tJkiqjPUPv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tJkiqjPUPv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tJkiqjPUPv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tJkiqjPUPv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tJkiqjPUPv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tJkiqjPUPv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tJkiqjPUPv .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tJkiqjPUPv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tJkiqjPUPv .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tJkiqjPUPv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tJkiqjPUPv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tJkiqjPUPv .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tJkiqjPUPv .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tJkiqjPUPv .navbar.navbar-short {
  min-height: 60px;
}
.cid-tJkiqjPUPv .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tJkiqjPUPv .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tJkiqjPUPv .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tJkiqjPUPv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tJkiqjPUPv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tJkiqjPUPv .dropdown-item.active,
.cid-tJkiqjPUPv .dropdown-item:active {
  background-color: transparent;
}
.cid-tJkiqjPUPv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tJkiqjPUPv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tJkiqjPUPv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tJkiqjPUPv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #254a45;
}
.cid-tJkiqjPUPv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tJkiqjPUPv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tJkiqjPUPv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tJkiqjPUPv .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tJkiqjPUPv button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tJkiqjPUPv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tJkiqjPUPv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tJkiqjPUPv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tJkiqjPUPv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tJkiqjPUPv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tJkiqjPUPv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tJkiqjPUPv nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tJkiqjPUPv nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tJkiqjPUPv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tJkiqjPUPv .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tJkiqjPUPv a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tJkiqjPUPv .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tJkiqjPUPv .navbar {
    height: 70px;
  }
  .cid-tJkiqjPUPv .navbar.opened {
    height: auto;
  }
  .cid-tJkiqjPUPv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uJSDOmUcbI {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uJSDOmUcbI .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJSDOmUcbI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uJSDOmUcbI .mbr-section-title {
  color: #e43f3f;
}
.cid-v5tcswg6BK {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-v5tcswg6BK .mbr-fallback-image.disabled {
  display: none;
}
.cid-v5tcswg6BK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v5tcswg6BK .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-v5tcswg6BK .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-v5tcswg6BK .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-v5tcswg6BK .mbr-text,
.cid-v5tcswg6BK .mbr-section-btn {
  text-align: left;
}
.cid-tJa5RDV0f1 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJa5RDV0f1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJa5RDV0f1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJa5RDV0f1 .mbr-section-title {
  color: #ffffff;
}
.cid-vkbG2uUd6U {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-vkbG2uUd6U .mbr-fallback-image.disabled {
  display: none;
}
.cid-vkbG2uUd6U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vkbG2uUd6U .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vkbG2uUd6U .row {
  flex-direction: row-reverse;
}
.cid-vkbG2uUd6U img {
  width: 100%;
}
.cid-vkbGe3UAHn {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-vkbGe3UAHn .mbr-fallback-image.disabled {
  display: none;
}
.cid-vkbGe3UAHn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vkbGe3UAHn .row {
  flex-direction: row-reverse;
}
.cid-vkbGe3UAHn .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-vkbGe3UAHn .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-vkbGe3UAHn .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-vkbGe3UAHn .mbr-text,
.cid-vkbGe3UAHn .mbr-section-btn {
  text-align: left;
}
.cid-tJaf2fkO51 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJaf2fkO51 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJaf2fkO51 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJaf2fkO51 .mbr-section-title {
  color: #ffffff;
}
.cid-v680Y3Kwg8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-v680Y3Kwg8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-v680Y3Kwg8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v680Y3Kwg8 .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-v680Y3Kwg8 .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-v680Y3Kwg8 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-v680Y3Kwg8 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-v680Y3Kwg8 .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-v680Y3Kwg8 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-v680Y3Kwg8 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-v680Y3Kwg8 .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-v680Y3Kwg8 .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-v680Y3Kwg8 .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-v680Y3Kwg8 .card-subtitle {
  text-align: left;
  color: #22aa3d;
}
.cid-tJfKujCdgL {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJfKujCdgL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJfKujCdgL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJfKujCdgL .mbr-section-title {
  color: #ffffff;
}
.cid-tZiaeS1VRY {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #eeeff4;
}
.cid-tZiaeS1VRY img,
.cid-tZiaeS1VRY .item-img {
  width: 100%;
}
.cid-tZiaeS1VRY .item:focus,
.cid-tZiaeS1VRY span:focus {
  outline: none;
}
.cid-tZiaeS1VRY .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tZiaeS1VRY .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tZiaeS1VRY .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tZiaeS1VRY .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tZiaeS1VRY .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tZiaeS1VRY .mbr-section-title {
  color: #232323;
}
.cid-tZiaeS1VRY .mbr-text,
.cid-tZiaeS1VRY .mbr-section-btn {
  text-align: left;
}
.cid-tZiaeS1VRY .item-title {
  text-align: left;
}
.cid-tZiaeS1VRY .item-subtitle {
  text-align: left;
}
.cid-v689YpwDIe {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #eeeff4;
}
.cid-v689YpwDIe .mbr-fallback-image.disabled {
  display: none;
}
.cid-v689YpwDIe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v689YpwDIe .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v689YpwDIe .row {
  flex-direction: row-reverse;
}
.cid-v689YpwDIe img {
  width: 100%;
}
.cid-v689YpwDIe .mbr-description {
  color: #e43f3f;
}
.cid-tJajkNoSCp {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJajkNoSCp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJajkNoSCp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJajkNoSCp .mbr-section-title {
  color: #ffffff;
}
.cid-uZIBCyAc0e {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uZIBCyAc0e .mbr-fallback-image.disabled {
  display: none;
}
.cid-uZIBCyAc0e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uZIBCyAc0e .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uZIBCyAc0e .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uZIBCyAc0e .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uZIBCyAc0e .mbr-text,
.cid-uZIBCyAc0e .mbr-section-btn {
  text-align: left;
}
.cid-v683RxfLLT {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-v683RxfLLT .mbr-fallback-image.disabled {
  display: none;
}
.cid-v683RxfLLT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v683RxfLLT .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-v683RxfLLT .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-v683RxfLLT .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-v683RxfLLT .mbr-text,
.cid-v683RxfLLT .mbr-section-btn {
  text-align: left;
}
.cid-tJfCTzEpgO {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJfCTzEpgO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJfCTzEpgO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJfCTzEpgO .mbr-section-title {
  color: #ffffff;
}
.cid-tJfCTzEpgO .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tJfEBZE7yS {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tJfQHO0f5l {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJfQHO0f5l .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJfQHO0f5l .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJfQHO0f5l .mbr-section-title {
  color: #ffffff;
}
.cid-tJfQHO0f5l .mbr-section-subtitle {
  color: #ffffff;
}
.cid-vk6b8seL8U {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-vk6eSDlZfw {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-vk6eSDlZfw .mbr-fallback-image.disabled {
  display: none;
}
.cid-vk6eSDlZfw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vk6eSDlZfw .mbr-section-title {
  color: #ffffff;
}
.cid-vk6eSDlZfw .mbr-section-subtitle {
  color: #ffffff;
}
.cid-vk6eUNGoR4 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-vk6b6I5WtK {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-vk6b6I5WtK .mbr-fallback-image.disabled {
  display: none;
}
.cid-vk6b6I5WtK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vk6b6I5WtK .mbr-section-title {
  color: #ffffff;
}
.cid-vk6b6I5WtK .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uTScAroNyK {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uTScAroNyK .mbr-fallback-image.disabled {
  display: none;
}
.cid-uTScAroNyK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uTScAroNyK .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  align-items: flex-start;
}
@media (min-width: 991px) {
  .cid-uTScAroNyK .item {
    margin-bottom: 4rem;
  }
}
.cid-uTScAroNyK .item:last-child .icon-box:before {
  display: none;
}
.cid-uTScAroNyK .item.last .icon-box:before {
  display: none;
}
.cid-uTScAroNyK .icon-box {
  background: #025713;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-uTScAroNyK .icon-box {
    margin-right: 1rem;
  }
}
.cid-uTScAroNyK span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-uTScAroNyK .card {
    margin-bottom: 2rem;
  }
  .cid-uTScAroNyK .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uTScAroNyK .icon-title {
  color: #007818;
}
.cid-tJfTbFY2bB {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #254a45;
}
.cid-tJfTbFY2bB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJfTbFY2bB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJfTbFY2bB .mbr-section-title {
  color: #ffffff;
}
.cid-tJfTbFY2bB .mbr-section-subtitle {
  color: #ffffff;
}
.cid-v68aBiRy3K {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-v68aBiRy3K .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-v68aBiRy3K .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-v68aBiRy3K .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #22aa3d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tJfOe1KHmS {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #254a45;
}
.cid-tJfOe1KHmS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJfOe1KHmS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJfOe1KHmS .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tJfOe1KHmS .currentcost {
  color: #232323;
}
.cid-tJfOe1KHmS .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-tJfOe1KHmS .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tJfOe1KHmS .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tJfOe1KHmS .text-box {
    padding: 1rem;
  }
}
.cid-tJfOe1KHmS .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tJfOe1KHmS H5 {
  color: #000000;
}
.cid-tJfOe1KHmS .mbr-text,
.cid-tJfOe1KHmS .cost,
.cid-tJfOe1KHmS .mbr-section-btn {
  color: #000000;
}
.cid-uIDCtfhJnv {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-uIDCtfhJnv .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIDCtfhJnv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uIDCtfhJnv .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #ffffff;
  margin-left: 1rem;
}
.cid-uIDCtfhJnv .panel-group {
  border: none;
}
.cid-uIDCtfhJnv .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uIDCtfhJnv .panel-body,
.cid-uIDCtfhJnv .card-header {
  padding: 1rem 0;
}
.cid-uIDCtfhJnv .panel-title-edit {
  color: #000000;
}
.cid-uIDCtfhJnv .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-uu1IOTfyEu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #254a45;
}
.cid-uu1IOTfyEu .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uu1IOTfyEu .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
.cid-uu1IOTfyEu .mbr-section-title {
  color: #ffffff;
}
.cid-uu1IOTfyEu .mbr-text,
.cid-uu1IOTfyEu .mbr-section-btn {
  color: #ffffff;
}
.cid-tJg4YV3SdH {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
.cid-tJg4YV3SdH .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-tJg4YV3SdH .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tJg4YV3SdH .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tJkftn1NOS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tJkftn1NOS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJkftn1NOS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJkftn1NOS .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tJkftn1NOS .mbr-section-subtitle {
  text-align: left;
}
.cid-tJkdgZprv5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tJkdgZprv5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJkdgZprv5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJkdgZprv5 .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tJkdgZprv5 .mbr-section-subtitle {
  text-align: left;
}
.cid-tJkfX8KIls {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tJkfX8KIls .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJkfX8KIls .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJkfX8KIls .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tJkfX8KIls .mbr-section-subtitle {
  text-align: left;
}
